/* survey styles */
label{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

input{
    max-width: 300px;
}

.invis{
    display: none;
}

h1{
    text-align:center;
}

.survey{
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

body{
    background-color: #f2f2f2;
}

select{
    width: 20%;
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    display: inline-block;
}

.form-control {
    border-radius: 5px;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    padding: 0.5rem 0;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

/* table styles */
table {
    margin-top: 10px;
}

thead {
    background-color: #f2f2f2;
}

th {
    font-weight: bold;
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.container {
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}